@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.attribution1{ 
    font-size: 11px; 
    text-align: center;
    bottom: 0;
    margin-top: auto;
    float: left;
    position: relative;
    right: -50%;
}

.attribution{
    position: relative;
    right: 50%;
}
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}

html{
    height: 100%;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

body{
    margin: 0;
    height: 100%;
    width: 100%;
}

.container{
    position: relative;
    height: 98%;
    margin: 0;
    width: 100%;
}

.bg{
    height: 100%;
}

.colorbg{
    background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    height: 750px;
    width: 500px;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
    float: left;
}

.phone{
    height: 550px;
    width: 250px;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    margin-left: 23%;
    margin-top: 12%;
    border-radius: 30px;
    -moz-box-shadow: 0 0 25px #333333;
    -webkit-box-shadow:0 0 25px #333333;
    box-shadow: 0 0 25px #333333;
}

.app{
    height: 90%;
    padding: 10px;
    border-radius: 20px;
}

.topnav{
    border-radius: 30px 30px 5px 5px;
    background: linear-gradient(to right, hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    background: radial-gradient();
    height: 80px;
}

.noch{
    background-color: hsl(0, 0%, 100%);
    width: 120px;
    height: 25px;
    margin-left: 53px;
    border-radius: 0 0 20px 20px;
}

.back{
    float: left;
    margin-top: 20px;
    margin-left: 15px;
}

.backimg{
    width: 11px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.profile{
    float: left;
    width: 25px;
    border-radius: 100%;
    border: solid 1px hsl(0, 0%, 100%);
    margin-top: 15px;
    margin-left: 10px;
}

.namestatus{
    float: left;
    width: fit-content;
    height: fit-content;
    margin-top: 12px;
    margin-left: 10px;
}

.name p{
    margin: 0;
    font-weight: 500;
    font-size: 13px;
    color: hsl(0, 0%, 100%);
}

.status p{
    margin: 0;
    margin-top: 3px;
    font-weight: 400;
    font-size: 10px;
    color: hsl(276, 100%, 81%);
}

.menu{
    float: right;
    margin-right: 15px;
    margin-top: 15px;
}

.dots{
    width: 10px;
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.chat{
    height: 82%;
    width: 92%;
    background-color: hsl(270, 20%, 96%);
    border-radius: 0 0 20px 20px;
    margin: 0;
    position: absolute;
}



#m1{
    padding: 10px;
    margin-bottom: 2px;
    margin-left: 10px;
    background-color: hsl(272, 41%, 93%);
    color: hsl(276, 55%, 52%);
    margin-top: 5px;
    border-radius: 10px;
    width: 140px;
    font-size: 10px;
    float: left;
}

#m2{
    padding: 10px;
    margin-bottom: 2px;
    margin-left: 10px;
    background-color: hsl(272, 41%, 93%);
    color: hsl(276, 55%, 52%);
    margin-top: 5px;
    border-radius: 10px;
    width: 140px;
    font-size: 10px;
    float: left;
}

.images{
    float: right;
    margin-top: 10px;
}

.images img{
    width: 50px;
    border-radius: 10px;
}

#img1{
    margin-right: 5px;
}

#img2{
    margin-right: 5px;
}

#img3{
    margin-right: 10px;
}

#m3{
    padding: 10px;
    margin-bottom: 2px;
    margin-right: 10px;
    background-color: hsl(272, 41%, 93%);
    margin-top: 5px;
    border-radius: 10px;
    width: 140px;
    font-size: 10px;
    float: right;
}

#m4{
    padding: 10px;
    margin-bottom: 2px;
    margin-right: 10px;
    background-color: hsl(272, 41%, 93%);
    margin-top: 5px;
    border-radius: 10px;
    width: 80px;
    font-size: 10px;
    float: right;
}

#m5{
    padding: 10px;
    margin-bottom: 2px;
    margin-left: 10px;
    background-color: hsl(272, 41%, 93%);
    color: hsl(276, 55%, 52%);
    margin-top: 5px;
    border-radius: 10px;
    width: 140px;
    font-size: 10px;
    float: left;
}

.offerts #button{
    float: left;
}

.of1{
    padding: 5px;
    margin-bottom: 2px;
    margin-left: 10px;
    background: linear-gradient(to left, hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    color: hsl(0, 0%, 100%);
    margin-top: 5px;
    border-radius: 10px 10px 10px 5px;
    width: 140px;
    font-size: 10px;
    float: left;
}

#title{
    margin: 2px;
    float: left;
}

#price{
    margin: 2px;
    float: right;
}

.of2{
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    background: linear-gradient(to left, hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    color: hsl(0, 0%, 100%);
    margin-top: 5px;
    border-radius: 10px 10px 10px 5px;
    width: 140px;
    font-size: 10px;
    float: left;
}

.inputtext{
    float: left;
    background: hsl(0, 0%, 100%);
    margin-top: 10px;
    border-radius: 20px;
    margin-left: 10px;
}

.inputtext p{
    float: left;
    margin:0;
    padding: 15px 85px 10px 20px;
    font-size: 10px;
    color: hsl(206, 6%, 79%);
}

.send{
    float: right;
    margin-top: 10px;
    margin-right: 5px;
}

#send{
    width: 10px;
    background-color: hsl(271, 36%, 24%);
    border-radius: 100%;
    padding: 5px;
}

.text{
    width: 35%;
    margin-left: 15%;
    margin-top: 20%;
    float: left;
}

.text h1{
    margin: 0;
    font-weight: 700;
    color: hsl(271, 36%, 24%);
}

.text h3{
    color: hsl(270, 7%, 64%);
    font-weight: 400;
}